<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-black">
    <a class="text-white" href="/read">Read page</a>
    <form action="/create" method="post">
        <input type="text text-black" name="name" placeholder="Name">
        <input type="text text-black" name="email" placeholder="Email">
        <input type="text text-black" name="imagee" placeholder="Image URL">
        <button class="bg-blue-500 p-2 rounded-lg" type="submit">create user</button>

    </form>
</body>
</html>